---
layout: archive
title: "Academic Activities"
permalink: /activities/
author_profile: true
---

{% assign activities = site.activities | sort: 'date' | reverse %}
{% assign current_year = '' %}

{% for post in activities %}
  {% assign year = post.date | date: "%Y" %}
  {% if year != current_year %}
    {% unless forloop.first %}
      </div>
    {% endunless %}
    <h2 class="archive__year">{{ year }}</h2>
    <div class="archive__group">
    {% assign current_year = year %}
  {% endif %}
  {% include archive-single-activity.html %}
{% endfor %}
</div>
